body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.fc .fc-toolbar-title {
  font-size: 1.5rem;
}

.fc .fc-button {
  padding: 0.4em 0.65em;
}

.fc .fc-event {
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.85em;
}

.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid #ddd;
}

.fc .fc-day-today {
  background-color: rgba(63, 81, 181, 0.05) !important;
}